   body {
    background-color: #F7ECDE;
   }
   h3 {
    color: #54BAB9;
   }
    hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #9ED2C6;
    border-width: 5px;
    width: 30%;
   }
    a:link {
    color: #54BAB9;
    text-decoration: none;
   }
   a:visited {
    color: #54BAB9;
    text-decoration: none;
   }
   a:hover {
    text-decoration: underline;
   }